/node_modules
/rxdb-premium.tgz
/test-integration
/test-integration/*
/dist
/plugins
/release
stats.json
test_tmp/
*.~lock*
test-db-*
rxdb-server.tgz

## copied from the rxdb core via 'npm run prebuild'
scripts/generate-plugins-package-json.mjs

## copied from the rxdb core
babel.config.js
