node_modules/
scripts/
src/
test/
docs/
config/
.github/
/test-integration
/test-integration/*
/release
/release-npm
/release-repo
.eslintignore
.eslintrc.json
renovate.json
tsconfig.json
tsconfig.lint.json
rxdb-server.tgz

test_tmp/
